.main {
  width: calc(var(--size-12) * 8);
  margin-inline: auto;
  background: white;
  height: 100vh;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(var(--size-12), 1fr));
  column-gap: var(--size-3);
  row-gap: var(--size-4);
  padding: var(--size-6);
  font-family: var(--font-mono);
  justify-items: center;
}

